{% extends "layout.html" %}
{% load static %}

{% block title %} DashBoard | {{ user }} {{ super }}{% endblock %}

{% block body %}
    <h2>Announcement</h2>
    {% for announcement in announcements %}
    <br>
    <div class="card ">
        <div class="card-header bg-primary text-white">
                {{announcement.heading}}
        </div>
        <div class="card-body">
           <pre> {{announcement.content|urlize}}</pre>
        </div>
        <div class='card-footer'>{{ announcement.user.user.username }}  | {{ announcement.time }} </div>
    </div>
    {% endfor %}
{% endblock %}
