{% extends "layout.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %} POST {% endblock %}

{% block body %}

<h1>Post : {{ post.post_name }} </h1>

{% if post_holders.exists%}

<br>
<h3>Post Holders</h3>
    
{% for holder in post_holders %}
<br>
<div class="card ">
    <div class="card-header">
    {{ holder.username }} 
    </div>
    <div class="card-body">
      {{ holder.profile.name  }}  
    </div>
</div>
{% endfor %}

{% endif %}

{% if history.exists%}

<br>
<h3>Post History</h3>
    
{% for history in history %}
<br>
<div class="card ">
    <div class="card-header">
    {{ history.user.username }}
    </div>
    <div class="card-body">
        {{ history.start_date }} |  {{ history.end_date }}
    </div>

</div>
{% endfor %}

{% endif %}


{% for post in posts %}
<br>
<div class="card ">
    <div class="card-header">
    {{ post.post_name }}  | <a href="#">  detail </a>
    </div>
    <div class="card-body">
        {% for user in post.post_holders.all %}
            {{ user.profile.name }} <br> 
        {% endfor %}
    </div>
</div>
{% endfor %}

{% endblock %}