{% extends "layout.html" %}
{% load static %}
{% load bootstrap4 %}


{% block title %} Entity Detail {% endblock %}

{% block body %}
    <h1>{{ entity.title }} </h1>

    <div class="card ">
    <div class="card-header">
        Description
    </div>
    <div class="card-body">
        <p class="card-text text-left" id="mdrender"><pre>{{  entity.description | urlize }}</pre></p>
        
    </div>
    </div>

  

    <br>

    <h3>Cast Your Vote</h3>
        
    <br>
    <form class="user" method="post" action="{% url  'election:cast_vote_offline' entity.pk%}">
        {% csrf_token  %}
        {% bootstrap_form cast_form %}
        <input class="btn btn-primary btn-user btn-block"type="submit" value="Cast Vote" />
        <hr>
    </form>
    
    <br>

    <h3>Candidates</h3>
        
    {% for candidate in candidates %}
    <br>
    <div class="card ">
        <div class="card-header">
        {{ candidate.user.username }}
        </div>
        <div class="card-body">
            <pre> {{candidate.readme |  urlize }}   </pre>
        </div>
    </div>
    {% endfor %}
    

    
{% endblock %}
