{% extends "diafo/base.html" %}

{% block title %}
Add Question
{% endblock %}

{% load staticfiles %}
{% load bootstrap4 %}


{% block profile %}
{% endblock %}


{% block content %}


        <div class="profile-content">
            <div class="well well-sm" style="padding-bottom: 20px;background: rgb(220,150,134);">
                <h3 class="text-center">
                    Edit the Question
                </h3>
            </div>
            <hr>


            <div style="margin:25px">
                    <form action="" method="post">
                            {% csrf_token %}
                        <p>
                            {% bootstrap_form form %}
                        </p>
                        <div class="text-center">
                            <input class="btn btn-success" type="submit" value="submit">
                        </div>
                    </form>
            </div>

        </div>

{% endblock content %}

