{% extends "diafo/base.html" %}
{% block title %}
form view
{% endblock %}

{% load bootstrap4 %}
{% load staticfiles %}


{% block content %}

<div class="profile-content ">

            <h2 class="intro-text text-center">
                <strong>{{ questionnaire.name }}</strong>
            </h2>
                <hr>
            <div style="margin:25px">
                    <form  action="" method="post">
                            {% csrf_token %}
                        <p>
                            {% bootstrap_form form %}

                        </p>
                        <input  class="btn btn-primary btn-large" type="submit" value="Confirm Submission" />
                    </form>
            </div>
</div>

{% endblock  %}